.array-container {
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: #282c34;
}

.array-bar{
    width: 3px;
    display: inline-block;
    margin: 0 1px;
}

/*.algorithm-button{*/
/*    font-size: 20px;*/
/*    font-family: Helvetica, sans-serif;*/
/*    display: inline-block;*/
/*}*/

.algorithm-button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid green;
    box-shadow: 0 5px #999;
    margin: 15px;
}

.algorithm-button:hover {
    background-color: #3e8e41;
}

.algorithm-button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

.new-button {
    background-color: #DC143C;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #DC143C;
    box-shadow: 0 5px #999;
    margin: 15px;
}

.new-button:hover {
    background-color: #BC143C;
}

.new-button:active {
    background-color: #BC143C;
    box-shadow: 0 2px #666;
    transform: translateY(3px);
}

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}